a {
    color: white;
}

input#champDate {
    width: 170px;
}

input#champHeure {
    width: 100px;

}

input#champNbr {
    width: 60px;

}

input#champNom {
    width: 130px;

}

input#champTel {
    width: 130px;

}

input#champTable {
    width: 60px;
}

div.alert {
    cursor: pointer;
}

div#ajoutResa {
    cursor: pointer;
}

button i {
    font-size: 30px;
}

span i {
    padding-right: 15px;
}

header div i {
    font-size : 30px;
}



@media screen and (max-width: 883px) {
    div.row.mt-3 {
        width: 298px;
    }

    label {
        display: inline-block;
        width: 80px;
    }

    input {
        display: inline-block;
    }

}