a {
    color: white;
}

input#champDate {
    width: 170px;
}

input#champHeure {
    width: 100px;

}

input#champNbr {
    width: 60px;

}

input#champNom {
    width: 130px;

}

input#champTel {
    width: 130px;

}

input#bouton_submit {
    width: 45px;
}

div.alert {
    cursor: pointer;
}

form button i {
    font-size: 25px;
}

i {
    font-size: 25px;
}

i.form {
    font-size: 20px;
}

header div i {
    font-size : 30px;
}

span.badge {
    cursor: pointer;
}

.erreur{
    width: 100%;
    margin: 0 0 0 10px;
    color: red;
}



/* Css historique */

input[type="date"] {
    width: 170px;
}

div.card.histo {
    cursor: pointer;
}

/* Css réservation */

form {
    display: inline;
}

@media screen and (max-width: 700px) {
    input#bouton_decalage {
        margin-bottom: 20px;
    }
}



